@import url(./reset.css);

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: #171a22;
  display: grid;
  place-items: center;
  text-align: center;
}

.menu {
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 600px;
}

#create {
  padding: 8px 14px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.6px;
  border-radius: 5px;
  background-color: #ff7b00;
  color: #fff;
}

#shapes-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: #272a31;
  justify-items: center;
  align-items: center;
}

.shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.shape.square {
  border-radius: 5px;
}

.shape.blue {
  background-color: #0f9;
}
.shape.green {
  background-color: #9f0;
}
.shape.orange {
  background-color: #f90;
}

.shape.pink {
  background-color: #ff009a;
}
.shape.purple {
  background-color: #90f;
}

#select-shape,
#select-color {
  position: relative;
  width: 245px;
  height: 36px;
  cursor: pointer;
  background-color: #272a31;
  border-radius: 5px;
  text-align: left;
}

#shapes,
#colors {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

#shapes.show,
#colors.show {
  opacity: 1;
  pointer-events: auto;
}

#display-shape,
#display-color {
  position: absolute;
  top: 7px;
  left: 17px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
